@model VoitureCreationVM

@{
    ViewData["Title"] = "Création";
}

<h1>Création</h1>

<h4>Création d'une voiture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <partial name="_FormCarPartial" model="@Model"></partial>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
