@model List<Voiture>
<h1>Mes voitures!</h1>

<div>
    <p>Voici les @Model.Count voitures</p>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Id - @item.Nom - @item.Annee</li>
        }
    </ul>

</div>
