@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<img src="images/Dodge_RAM.png" />
<br />
<h1>Prise 2</h1>
<img src="~/images/Dodge_RAM.png" />
<h1>Prise 3</h1>
<img src=@Url.Content("~/images/Dodge_RAM.png") />

@section Scripts {
    @*<script>alert("")</script>*@

}

@section CSS{
    <link href="" />
}